/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#000000;
	--color-background:#ffffff;
	--color-border:rgb(210, 210, 212);
	--color-background-2: rgb(240, 240, 240);
	--color-deal-label: rgb(217, 0, 11);
	--color-brand-mark: rgb(255, 77, 0);
	--color-highlighted-buttons: rgb(100, 43, 224);
}

/***********/
/* Tiempos */ 
/***********/

/* Light */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-Light-BF66457a5102792.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-LightItalic-BF66457a50eb132.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Regular */ 
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-Regular-BF66457a50e8bc9.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-RegularItalic-BF66457a50e36f9.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-Medium-BF66457a50e62cd.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Itallic */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-MediumItalic-BF66457a511be83.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* Semi Bold */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-Semibold-BF66457a50f016a.otf') format('opentype');
  font-weight: 600; 
  font-style: normal;
}

/* Semi Bold Italic*/
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-SemiboldItalic-BF66457a50b0e18.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-Bold-BF66457a510211b.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


/* Bold Italic */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TestTiemposFine-BoldItalic-BF66457a50b8568.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}






/****************/
/* JOUW STYLING */
/****************/

*{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	scrollbar-width: none;
}

.deal-label { /*placeholder*/
  display: inline-block;   
  background-color: var(--color-deal-label);
  color: white;                
  font-weight: bold;          
  font-size: 0.9rem;           
  padding: 0.2em 0.6em;        
  border-radius: 2px;          
  position: absolute; 
}

h3, h4, p, a {
	order: 2;
	text-decoration: none;
}

svg{
	fill: var(--color-text);
	stroke: none;
}

li{
	list-style: none;    
	background-color: var(--color-background);  
	flex-grow: 1;
	max-height: fit-content;

}

li:first-of-type{
	flex-grow: 3;
}

button{
	border:none;
	background-color: var(--color-background);
}

p{
	margin: 0em 0em 0em 2.3em;
}

h1{
	font-family: sans-serif, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0em 0em 0em 1.5em;
}

h2{
	font-family: sans-serif, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0em 0em 0em 1.5em;
}

h3{
	font-family: 'Tiempos, Times New Roman, serif';
	font-weight: 500;
	font-size: 24px;
	color: var(--color-text);
	margin: 0em 0em 0em 1.5em;
}

h4{
	font-family: 'Tiempos, Times New Roman, serif';
	font-weight: 500;
	font-size: 16px;
	color: var(--color-text);
	padding: 0em 0em 0em 1.5em;
}

header nav ul li:nth-child(1) a svg:nth-child(1){
	fill: var(--color-brand-mark);
	stroke: none;
}

header nav ul li:nth-child(1) a path:nth-child(2){
	fill: var(--color-text);
	stroke: none;
}

header nav ul{
	display: flex;
	flex-direction: row;
	background-color: var(--color-background);	
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.8em 0.5em 0.8em 1em;
	align-items: center;
	border-bottom: solid 1px;
	border-color: var(--color-border);
}

header nav:nth-child(2) button:nth-child(1) svg{
	fill: var(--color-text);
	stroke: var(--color-text);
}
header nav:nth-child(2){
	display: flex;
	flex-direction: row;
	background-color: var(--color-background);	
	align-items: center;
	flex-wrap: wrap;
	
}

header nav:nth-child(2){
	border-bottom: solid 1px;
	border-color: var(--color-border);
}
header nav:nth-child(2) button{
	padding: 1em;
	border-right: solid 1px;
	border-color: var(--color-border);
}

header nav:nth-child(2) button:nth-of-type(2){
	padding-right: 1.5em;
}

input{
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	color: var(--color-border);
	padding: 1em;
	flex-grow: 2;
	border: none;
}

main{
	display: flex;
	flex-direction: column;
	padding-top: 3em;

}

main section:nth-child(1) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows:auto auto 1fr;
	justify-items: start;
}

main section:nth-child(1) h1{
	grid-column: 1 / 3;
	grid-row: 1;
}

main section:nth-child(1) h2{
	grid-column: 1 / 3;
	grid-row: 2 ;
	justify-self: flex-start;
	font-family: 'Tiempos, Times New Roman, serif';
	font-weight: 500;
	font-size: 24px;
	color: var(--color-text);
}

main section:nth-child(1) h3{
	font-family: sans-serif, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0;

}
main section:nth-child(1) button{
	grid-row: 1;
	grid-column: 3;
	justify-self: center;
	margin-left: 4em;
}

main section:nth-child(1) ul {
  margin-top: 2em;
  grid-row: 3;
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  margin-bottom: 3em;
  padding: 0em 0em 0em 2em;		
  
}

main section:nth-child(1) ul li {
  flex: 0 0 auto;
  overflow: hidden;
  max-width: inherit;
}



main section:nth-child(1) ul li a {
  display: grid;
  max-width: 50dvw;
  grid-template-rows: auto auto 1fr;
  grid-template-columns:1fr 1fr;
  background-color: var(--color-background-2);
}

main section ul li a img{

  grid-row: 1;
  grid-column: 1 / span 2;
  width: 100%;          
}

main section ul li a h3{
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 1em 0em 0em 1em;
}
main section ul li a h4{
  grid-row: 3;
  grid-column: 1 / span 2;
  padding: 0.5em 0.5em 2em 1em;
  
}

main nav {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 10;
  overflow-x: scroll;
  margin:2em 0em 4em 0em;
}

main nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  overflow-x: scroll;
  padding: 0em 1em 0em 2em;
}

main nav ul li {
  display: flex;
  align-items: center;
  min-width: fit-content;
}


main nav ul li a{
  padding: 1em 1em 1em 0em;	
  color: var(--color-text);
  list-style: none;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

main section:nth-child(3){
	display: grid;
	grid-template-rows: auto auto auto auto 1fr auto;
	grid-template-columns: 1fr 1fr 1fr;
	
}

main section:nth-child(3) ul{
	grid-column: span 3;
	grid-row: 5;
	display: flex; 
  	justify-content: start; 
	overflow-x: scroll;
 	gap: 1em; 
	order: 3;
	padding: 1em 0em 0em 2em;
}

main section:nth-child(3) ul li{
	min-width: 80dvw;
	padding-bottom: 1em;
}

main section:nth-child(3) ul li img {
  display: block;
  width: 100%; 
  height: auto;
}
main section:nth-child(3) h2{
	grid-column:span 2;
	grid-row: 1 ;

}

main section:nth-child(3) h3{
	grid-column: span 3;
	grid-row: 2;
}
main section:nth-child(3) button{
	justify-self: start;
	grid-column: -4 / span 3;
	padding:1em 29% 1em 29%;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-text);
	font-weight: 500;
	order: 5;
	margin: 0em 0em 4em 2.5em;
	
}
main section:nth-child(3) p{
	font-family: "Tiempos", sans-serif;
	grid-row: 3;
	grid-column: span 3;
	font-size: 16px;
	line-height: 24px;
	font-weight: 200;
	
}

main section:nth-child(3) a{
	grid-row: 4 ;
	grid-column: span 2;
	padding: 1em 0em 0em 0em;
	margin: 0em 0em 0em 2em;
	display: flex;
	gap: 1em;
	align-items: center;
	font-family: sans-serif, Arial, Helvetica;
	font-weight: 700;
	color: var(--color-highlighted-buttons);

}

main section:nth-child(3) svg{
	fill: var(--color-background);
	stroke: var(--color-highlighted-buttons);
	
}


main section:nth-child(4){
	display: grid;
	grid-template-rows: auto auto auto auto 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--color-background-2);
	padding-top: 4em;
}

main section:nth-child(4) button{
	margin: 1em 0em 1em 2.5em;
	grid-column: span 3;
	justify-self: start;
	background-color: var(--color-background-2);
	
}

main section:nth-child(4) h2{
	order: 2;
	grid-column: span 3;
}

main section:nth-child(4) h3{
	order: 3;
	grid-column: span 3;
}

main section:nth-child(4) p{
	order: 4;
	grid-column: span 2;
	padding: 1em 0em 2em 0em;
}

main section:nth-child(4) img{
	order: 5;
	grid-row: 6;
	grid-column: 1/ span 2;
	
}
