
p{
  padding-left: 2;
}
li:first-of-type{
	flex-grow: 3;
}

main{
	display: flex;
	flex-direction: column;
	padding-top: 3em;
  position: relative;
}

main section:nth-child(1) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows:auto auto 1fr;
	justify-items: start;
}

main section:nth-child(1) h1{
	grid-column: 1 / 3;
	grid-row: 1;
}

main section:nth-child(1) h2{
	grid-column: 1 / 3;
	grid-row: 2 ;
	justify-self: flex-start;
	font-family: 'Tiempos, Times New Roman, serif';
	font-weight: 400;
	font-size: 24px;
	color: var(--color-text);
}

main section:nth-child(1) h3{
	font-family: sans-serif, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
  white-space: wrap;
  padding:1em 1em 0em 1em;
  text-transform: none;
}

main section:nth-child(1) button{
	grid-row: 1;
	grid-column: 3;
	justify-self: center;
	padding-left: 4em;
}

main section:nth-child(1) ul {

  grid-row: 3;
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  padding: 2em 0em 3em 2em;		
  
}

main section:nth-child(1) ul li {
  overflow: hidden;
  flex: 0 0 50%;
}



main section:nth-child(1) ul li a {
  display: grid;
  width: 100%;
  height: 100%;   
  grid-template-rows: auto auto 1fr;
  grid-template-columns:1fr 1fr;
  background-color: var(--color-background-2);
}

main section ul li a img{

  grid-row: 1;
  grid-column: 1 / span 2;
  width: 100%;          
}

main section ul li a h3{
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 1em 0em 0em 1em;
}
main section ul li a h4{
  grid-row: 3;
  grid-column: 1 / span 2;
  padding: 0.5em 0.5em 2em 1em;
  
}

main nav {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 10;
}

main nav ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  padding: 0em 1em 0em 2em;
}

main nav ul li {
  display: flex;
  align-items: center;
  min-width: fit-content;
}


main nav ul li a{
  padding: 1em 1em 1em 0em;	
  color: var(--color-text);
  list-style: none;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

main section:nth-child(3){
  padding-top: 2em;
	display: grid;
	grid-template-rows: auto auto auto auto 1fr auto;
	grid-template-columns: 1fr 1fr 1fr;
	
}

main section:nth-child(3) ul{
	grid-column: span 3;
	grid-row: 5;
	display: flex; 
  	justify-content: start; 
	overflow-x: scroll;
 	gap: 1em; 
	order: 3;
	padding: 1em 0em 0em 2em;
}

main section:nth-child(3) ul li{
	min-width: 80dvw;
	padding-bottom: 1em;
}

main section:nth-child(3) ul li img {
  display: block;
  width: 100%; 
  height: auto;
}
main section:nth-child(3) h2{
	grid-column:span 2;
	grid-row: 1 ;

}

main section:nth-child(3) h3{
	grid-column: span 3;
	grid-row: 2;
}
main section:nth-child(3) button{
	justify-self: start;
	grid-column: -4 / span 3;
	padding:1em 27.25% 1em 27.25%;
  margin: 0em 0em 4em 2.5em;  /* Ik kan hier geen oplosign voor vinden, tenzij die veel smeeriger is als dit */

	border-style: solid;
	border-width: 2px;
	border-color: var(--color-text);
	font-weight: 400;
	order: 5;
	
	
}
main section:nth-child(3) p{
	font-family: "Tiempos", sans-serif;
	grid-row: 3;
	grid-column: span 3;
	padding-top: 1em;
  padding-left: 2.3em;
	font-weight: 400;
	
}

main section:nth-child(3) a{
	grid-row: 4 ;
	grid-column: span 2;
	padding: 1em 0em 0em 2em;
	display: flex;
	gap: 1em;
	align-items: center;
	font-family: sans-serif, Arial, Helvetica;
	font-weight: 700;
	color: var(--color-highlighted-buttons);

}

main section:nth-child(3) svg{
	fill: var(--color-background);
	stroke: var(--color-highlighted-buttons);
	
}


main section:nth-child(4){
	display: grid;
	grid-template-rows: auto auto auto auto 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: var(--color-background-2);
	padding-top: 4em;
	margin-bottom: 3em; /*moet margin zijn vanwege background  color*/
}

main section:nth-child(4) button{
	padding: 1em 0em 1em 2.5em;
	grid-column: span 3;
	justify-self: start;
	background-color: var(--color-background-2);
	
}

main section:nth-child(4) h2{
	order: 2;
	grid-column: span 4;
}

main section:nth-child(4) h3{
	order: 3;
	grid-column: span 4;
}

main section:nth-child(4) p{
	order: 4;
	grid-column: span 4;
	padding: 1em 1em 2em 2.3em;
	font-weight: 400;

}

main section:nth-child(4) img{
	order: 5;
	grid-row: 6;
	grid-column: 1/ span 3;
	max-width: 100%;
	
}

main section:nth-child(5){
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--color-background-2);
  margin-bottom: 3em; /*margin vanwege background color*/
}

main section:nth-child(5) h2{
	order: 2;
	grid-row: 4;
	grid-column: span 5;
	padding-bottom: 0.5em;
}

main section:nth-child(5) h3{
	order: 2;
	grid-row: 5;
	grid-column: span 3;
	padding-bottom: 0.5em;
}

main section:nth-child(5) a{
	padding: 1em 0em 4em 2em;
	grid-row: 7;
	grid-column: span 2;
	display: flex;
	gap: 1em;
	align-items: center;
	font-family: sans-serif, Arial, Helvetica;
	font-weight: 700;
	color: var(--color-text);

}

main section:nth-child(5) a svg {
    fill: var(--color-background);
    stroke: var(--color-text);
}

main section:nth-child(5) button {
	order: 1;
  margin: 3em 0em 1em 2.5em;
	grid-row: 2;
  grid-column: span 6;
  justify-self: start;
  background-color: var(--color-background-2);
}

main section:nth-child(5) video{
	grid-row: 1;
	grid-column: 2 / span 4;
	max-width: 100%;
	
}

main section:nth-child(5) p{
	order: 2;
	grid-row: 6;
	grid-column: span 3 ;
  padding-left: 2.3em;
}

main section:nth-child(6){
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--color-background-2);
  margin-bottom: 3em;
}

main section:nth-child(6) button{
  background-color: var(--color-background-2);
  order: 1;
  grid-column: span 6;
  justify-self: start;
  margin: 3em 0em 2em 2.5em;
}

main section:nth-child(6) h2{
  order: 2;
  grid-column: span 4;
}

main section:nth-child(6) h3{
  order: 3;
  grid-column: span 4;
}

main section:nth-child(6) p{
  order: 4;
  grid-column: span 4;
  padding: 2em 0em 0em 2em;
}

main section:nth-child(6) img{
  order: 6;
  grid-row: 6;
  grid-column: 1/ span 6;
  max-width: 100%;
  padding: 0em 0em 0em 2.2em;
}

main section:nth-child(6) a{
  grid-row: 5 ;
  grid-column: span 2;
  display: flex;
	gap: 1em;
	align-items: center;
	font-family: sans-serif, Arial, Helvetica;
  padding: 0.5em 0em 0.5em 2.2em;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 700;
  color: var(--color-text);
}

main section:nth-child(6) a svg{
  fill: var(--color-background-2);
  stroke: var(--color-text);
}

main section:nth-child(7){
  display: grid;
}

main section:nth-child(7) ul{

  grid-row: 3;
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  padding: 4em 2em 3em 2em;		
}

main section:nth-child(7) ul li {
  flex: 0 0 45%;

}

main section:nth-child(7) ul li a {
  display: grid;
  grid-template-rows: auto auto auto  auto auto 1fr;

  height: 100%;
  background-color: var(--color-background);
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
} 

main section:nth-child(7) ul li h2{
  grid-column: 1 / span 3;
  grid-row: 2;
  font-size: 1em;
  padding: 0em;
 
}

main section:nth-child(7) ul li a img{
  grid-row: 1;
  grid-column: 1 / span 3;    
  width: 100%;
}

main section:nth-child(7) ul li a h3{
  grid-row: 3;
  grid-column: 1 / span 3;
  padding: 0em;
  font-size: 1em;
  word-break: normal;
}

main section:nth-child(7) ul li button{
  position: absolute;;
  top: 1em;
  right: 0;
  z-index: 1;
  padding: 0.5em 0.7em 0.5em 0.7em;
}

main section:nth-child(7) ul li a p{
  padding: 0em;
  grid-column: span 3;
}

main section:nth-child(7) ul li p:has(svg:nth-child(-n+5)){
  grid-row: 4;
  grid-column: 1 / span 3;
}

main section:nth-child(7) ul li p:has(:nth-child(5)) svg{
  width: 12px;

}

main section:nth-child(7) ul li p:nth-of-type(1){
  grid-row: 5;
  grid-column: 1;
}

main section:nth-child(7) ul li p:nth-of-type(3):not(:has(svg)){
  grid-row: 6;
  grid-column: 3 / 4;
}


main section:nth-child(7) ul li a p:nth-child(4):has(svg){
  grid-row: 4;
}

main section:nth-child(7) ul li p:nth-of-type(2){
  grid-row: 6;     
  grid-column: 1 / span 3;

}

main section:nth-child(7) ul li del{
  color: var(--color-text);
}

main section:nth-child(7) ul li a svg:only-of-type{
  grid-row: 7;
  grid-column: 1;

  width: 2.5em;
  justify-self: start;
  stroke: var(--color-background);
  fill: var(--color-background);
}

main section:nth-child(7) ul li:nth-child(-n+2) a svg:only-of-type, main section:nth-child(7) ul li:nth-last-child(-n+2) a svg:only-of-type {
  grid-row: 7;
  grid-column: 1;

  width: 2.5em;
  justify-self: start;
  stroke: var(--color-background);
  fill: var(--color-background);
}

main section:nth-child(7) ul li a svg:only-of-type path{
  stroke: var(--color-text);
  stroke-width: 0.2px;
}

main section:nth-child(7) ul li a p:nth-of-type(1){
  grid-row: 5;
}

main section:nth-child(7) ul li a:not(:has(p:nth-of-type(4))) p:nth-of-type(1){
  grid-row: 6;
}

main section:nth-child(7) ul li p:last-of-type{
  grid-row: 7;
  grid-column: 2 / 4;
  white-space: nowrap;
}

main section:nth-child(7) ul li a:not(:has(p:nth-of-type(4))) p:last-of-type {
  grid-row: 7;
  grid-column: 2 / 3;
  white-space: nowrap;
}

main section:nth-child(8){
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 3em;
  background-color: var(--color-background-3);
}

main section:nth-child(8) h2 {
  order: 2;
  grid-column: span 4;
}

main section:nth-child(8) h3 {
    order: 3;
    grid-column: span 4;
}

main section:nth-child(8) p {
    order: 4;
    grid-column: span 4;
    padding: 1em 0em 0.5em 2.3em;
}

main section:nth-child(8) a {
    grid-row: 5;
    grid-column: span 2;
    display: flex;
    gap: 1em;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica;
    padding: 0.5em 0em 1em 2.2em;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: 700;
    color: var(--color-text);
}

main section:nth-child(8) a svg {
    fill: var(--color-background-3);
    stroke: var(--color-text);
}

main section:nth-child(8) button {
  background-color: var(--color-background-3);
  order: 1;
  grid-column: span 6;
  justify-self: start;
  margin: 3em 0em 2em 2.5em;
}

main section:nth-child(8) img {
  order: 6;
  grid-row: 6;
  grid-column: 1 / span 6;
  max-width: 100%;
  padding: 0em 0em 0em 2.2em;
}






/************************/
/*******Section 9********/
/************************/

main section:nth-child(9) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  overflow-x: hidden;
}

main section:nth-child(9) h2{
  order: 1;
  grid-row: 1;
  grid-column:span 3;
}

main section:nth-child(9) h3{
  order: 2;
  grid-column: span 3;
}

main section:nth-child(9) ul{
  order: 3;
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1em;
  padding: 0em 2em 0em 2em;
  margin: 2em 0em 10em 0em;
}

main section:nth-child(9) li{
  position: relative;

}

main section:nth-child(9) ul li a{
  
  display: grid;
  min-width: 160px;
  align-items: center;
  justify-content: space-evenly;
}

main section:nth-child(9)  ul li a img:first-of-type{
  grid-column:  1 /span 3;
  grid-row: 1;
}

main section:nth-child(9) ul li a img:last-of-type{
  grid-row: 2;
  grid-column: 1 / span 1;
  max-width: 33px;
  padding-right: 1em;
  
}

main section:nth-child(9) ul li button:last-of-type{
  position: absolute;
  top: 1em;
  right: 0;
  z-index: 1;
  padding: 0.5em 0.7em 0.5em 0.7em;
  background-color: var(--color-background);
}

main section:nth-child(9) ul li button:first-of-type{
  color: var(--color-highlighted-buttons);
  font-weight: 600;
}






/*******************/
/****laatste css****/
/*******************/

body main p:nth-last-child(1){
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding: 1em 0em 1em 1em;
}

