
p{
  padding-left: 2;
}

header nav:nth-child(1) ul li:first-of-type{
	flex-grow: 18;
}

main{
	display: flex;
	flex-direction: column;
	padding-top: 3em;
  position: relative;
}

main section:nth-child(1) {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows:auto auto 1fr;
	justify-items: start;
}

main section:nth-child(1) h1{
	grid-column: 1 / -1;
	grid-row: 1;
}

main section:nth-child(1) h2{
	grid-column: 1 / 3;
	grid-row: 2 ;
	justify-self: flex-start;
	font-family: 'Tiempos, Times New Roman, serif';
	font-weight: 400;
	font-size: 24px;
	color: var(--color-text);
}

main section:nth-child(1) h3{
	font-family: sans-serif, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
  white-space: wrap;
  padding:1em 1em 0em 1em;
  text-transform: none;
}

main section:nth-child(1) button:nth-of-type(1){
	grid-row: 1;
	grid-column: 5;
	justify-self: start;
	padding-left: 4em;
}

main section:nth-child(1) button:hover svg,
main section:nth-child(5) button:hover svg,
main section:nth-child(6) button:hover svg,
main section:nth-child(8) button:hover svg{

fill: var(--color-brand-mark);

}

main section:nth-child(1) ul {

  grid-row: 3;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  padding: 2em 0em 3em 2em;		
  
}

main section:nth-child(1) ul li {
  overflow: hidden;
  flex: 0 0 50%;
}

main section:nth-child(1) ul li a {
  display: grid;
  width: 100%;
  height: 100%;   
  grid-template-rows: auto auto 1fr;
  grid-template-columns:1fr 1fr;
  background-color: var(--color-background-2);
}

main section ul li a img{

  grid-row: 1;
  grid-column: 1 / span 2;
  width: 100%;          
}

main section ul li a h3{
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 1em 0em 0em 1em;
}
main section ul li a h4{
  grid-row: 3;
  grid-column: 1 / span 2;
  padding: 0.5em 0.5em 2em 1em;
  
}

main nav {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 10;
}

main nav ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  padding: 0em 1em 0em 2em;
}

main nav ul li {
  display: flex;
  align-items: center;
  min-width: fit-content;
}


main nav ul li a{
  padding: 1em 1em 1em 0em;	
  color: var(--color-text);
  list-style: none;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

main section:nth-child(1) button:nth-of-type(2),
main section:nth-child(6) ul + button {
  grid-row: 3;
  grid-column: 1;
  align-self: center;
  padding: 1.5% 2%;
  border: solid 1px var(--color-border);
  z-index: 1000;
  justify-self: end; 
}

main section:nth-child(1) button:nth-of-type(3){
  grid-row: 3;
  grid-column: 5;
  align-self: center;
  padding: 1.5% 2%;
  border: solid 1px var(--color-border);
  z-index: 1000;
  justify-self: start;
}


main section:nth-child(3){
  padding-top: 2em;
	display: grid;
	grid-template-rows: auto auto auto auto 1fr auto;
	grid-template-columns: 1fr 1fr 1fr;
	
}

main section:nth-child(3) ul{
	grid-column: span 3;
	grid-row: 5;
	display: flex; 
  justify-content: start; 
	overflow-x: scroll;
 	gap: 1em; 
	order: 3;
	padding: 1em 0em 0em 2em;
}

main section:nth-child(3) ul li{
	padding-bottom: 1em;
  flex: 0 0 75%;
}

main section:nth-child(3) ul li img {
  display: block;
  width: 100%; 
  height: auto;
}
main section:nth-child(3) h2{
	grid-column:span 2;
	grid-row: 1 ;

}

main section:nth-child(3) h3{
	grid-column: span 3;
	grid-row: 2;
}
main section:nth-child(3) button{
	justify-self: start;
	grid-column: -4 / span 3;
	padding:1em 27.25% 1em 27.25%;
  margin: 0em 0em 4em 2.5em;  /* Ik kan hier geen oplosign voor vinden, tenzij die veel smeeriger is als dit */

	border-style: solid;
	border-width: 2px;
	border-color: var(--color-text);
	font-weight: 400;
	order: 5;
	
	
}


main section:nth-child(3) button:hover{

  background-color: var(--color-text);
  color: var(--color-background);

}


main section:nth-child(3) p{
	font-family: "Tiempos", sans-serif;
	grid-row: 3;
	grid-column: span 3;
	padding-top: 1em;
  padding-left: 2.3em;
	font-weight: 400;
	
}

main section:nth-child(3) a{
	grid-row: 4 ;
	grid-column: span 2;
	padding: 1em 0em 0em 2em;
	display: flex;
	gap: 1em;
	align-items: center;
	font-family: sans-serif, Arial, Helvetica;
	font-weight: 700;
	color: var(--color-highlighted-buttons);

}


main section:nth-child(3) svg{
	fill: var(--color-background);
	stroke: var(--color-highlighted-buttons);
	
}


main section:nth-child(4){
	display: grid;
	grid-template-rows: auto auto auto auto 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: var(--color-background-2);
	padding-top: 4em;
	margin-bottom: 3em; /*moet margin zijn vanwege background  color*/
}

main section:nth-child(4) button{
	padding: 1em 0em 1em 2.5em;
	grid-column: span 3;
	justify-self: start;
	background-color: var(--color-background-2);
	
}

main section:nth-child(4) h2{
	order: 2;
	grid-column: span 4;
}

main section:nth-child(4) h3{
	order: 3;
	grid-column: span 4;
}

main section:nth-child(4) p{
	order: 4;
	grid-column: span 4;
	padding: 1em 1em 2em 2.3em;
	font-weight: 400;

}

main section:nth-child(4) img{
	order: 5;
	grid-row: 6;
	grid-column: 1/ span 3;
	max-width: 100%;
	
}

main section:nth-child(5){
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--color-background-2);
  margin-bottom: 3em; /*margin vanwege background color*/
}

main section:nth-child(5) h2{
	order: 2;
	grid-row: 4;
	grid-column: span 5;
	padding-bottom: 0.5em;
}

main section:nth-child(5) h3{
	order: 2;
	grid-row: 5;
	grid-column: span 3;
	padding-bottom: 0.5em;
}

main section:nth-child(5) a{
	padding: 1em 0em 4em 2em;
	grid-row: 7;
	grid-column: span 2;
	display: flex;
	gap: 1em;
	align-items: center;
	font-family: sans-serif, Arial, Helvetica;
	font-weight: 700;
	color: var(--color-text);

}

main section:nth-child(5) a svg {
    fill: var(--color-background);
    stroke: var(--color-text);
}

main section:nth-child(5) button {
	order: 1;
  padding: 3em 0em 1em 2.5em;
	grid-row: 2;
  grid-column: span 6;
  justify-self: start;
  background-color: var(--color-background-2);
}

main section:nth-child(5) video{
	grid-row: 1;
	grid-column: 2 / span 4;
	max-width: 100%;
	
}

main section:nth-child(5) p{
	order: 2;
	grid-row: 6;
	grid-column: span 3 ;
  padding-left: 2.3em;
}

main section:nth-child(6){
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--color-background-2);

}

main section:nth-child(6) button{
  background-color: var(--color-background-2);
  order: 1;
  grid-column: span 6;
  justify-self: start;
  padding: 3em 0em 2em 2.5em;
}

main section:nth-child(6) h2{
  order: 2;
  grid-column: span 4;
}

main section:nth-child(6) h3{
  order: 3;
  grid-column: span 4;
}

main section:nth-child(6) p{
  order: 4;
  grid-column: span 4;
  padding: 2em 0em 0em 2.2em;
}

main section:nth-child(6) img{
  order: 6;
  grid-row: 6;
  grid-column: 1/ span 6;
  max-width: 100%;
  padding: 0em 0em 0em 2.2em;
}

main section:nth-child(6) a{
  grid-row: 5 ;
  grid-column: span 2;
  display: flex;
	gap: 1em;
	align-items: center;
	font-family: sans-serif, Arial, Helvetica;
  padding: 0.5em 0em 0.5em 2.2em;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 700;
  color: var(--color-text);
}

main section:nth-child(3) a:hover,
main section:nth-child(3) a:hover svg,
main section:nth-child(5) a:hover,
main section:nth-child(5) a:hover svg,
main section:nth-child(6) a:hover,
main section:nth-child(6) a:hover svg{

  color: var(--color-brand-mark);
  stroke: var(--color-brand-mark);
}

main section:nth-child(6) a svg{
  fill: var(--color-background-2);
  stroke: var(--color-text);
}

main section:nth-child(7){
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: start;
}

main section:nth-child(7) ul{

  grid-row: 3;
  grid-column: 1 / -1 ;
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  padding: 4em 2em 3em 2em;		
}

main section:nth-child(7) ul li {
  flex: 0 0 45%;

}

main section:nth-child(7) ul li a {
  display: grid;
  grid-template-rows: auto auto auto  auto auto 1fr;

  height: 100%;
  background-color: var(--color-background);
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
} 

main section:nth-child(7) ul li h2{
  grid-column: 1 / span 3;
  grid-row: 2;
  font-size: 1em;
  padding: 0em;
 
}

main section:nth-child(7) ul li a img{
  grid-row: 1;
  grid-column: 1 / span 3;    
  width: 100%;
}

main section:nth-child(7) ul li a h3{
  grid-row: 3;
  grid-column: 1 / span 3;
  padding: 0em;
  font-size: 1em;
  word-break: normal;
}

main section:nth-child(7) button:first-of-type:has(+ ul){

  grid-row: 3;
  grid-column: 1;
  align-self: center;
  justify-self: end;
  padding: 3% 4%;
  z-index: 10;

}

main section:nth-child(7) button:nth-of-type(2){

  grid-row: 3;
  grid-column: 5;
  justify-self: start;
  align-self: center;
  padding: 3% 4%;
  z-index: 10;
  
}

main section:nth-child(7) ul li button,
main section:nth-child(9) ul li button:last-of-type{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  position: absolute;;
  top: 1em;
  right: 0;
  z-index: 1;
  padding: 0.5em 0.7em 0.5em 0.7em;
}

main section:nth-child(7) ul li button svg,
main section:nth-child(9) ul li button svg{
  grid-column: 1;
  grid-row: 1;
}

main section:nth-child(7) ul li a p{
  padding: 0em;
  grid-column: span 3;
}

main section:nth-child(7) ul li p:has(svg:nth-child(-n+5)){
  grid-row: 4;
  grid-column: 1 / span 3;
}

main section:nth-child(7) ul li p:has(:nth-child(5)) svg{
  width: 12px;

}

main section:nth-child(7) ul li p:nth-of-type(1){
  grid-row: 5;
  grid-column: 1;
}

main section:nth-child(7) ul li p:nth-of-type(3):not(:has(svg)){
  grid-row: 6;
  grid-column: 3 / 4;
}


main section:nth-child(7) ul li a p:nth-child(4):has(svg){
  grid-row: 4;
}

main section:nth-child(7) ul li p:has(svg:nth-of-type(4)){
  
  display: flex;
  gap: 0.5em;
  font-size: 13px;
  color: var(--color-border);
  align-items: center;
}

main section:nth-child(7) ul li:first-of-type a p:nth-child(4) svg:nth-last-of-type(-n+3){
  fill: var(--color-background);
  stroke: var(--color-text);
}

main section:nth-child(7) ul li:nth-of-type(2) a p:nth-child(4) svg:nth-last-of-type(-n+2){
  fill: var(--color-background);
  stroke: var(--color-text);
}

main section:nth-child(7) ul li:nth-of-type(3) a p:has(svg:nth-of-type(4)) svg:nth-last-of-type(1){
   fill: var(--color-background);
  stroke: var(--color-text);
}


main section:nth-child(7) ul li p:nth-of-type(2){
  grid-row: 6;     
  grid-column: 1 / span 3;

}

main section:nth-child(7) ul li del{
  color: var(--color-text);
}

main section:nth-child(7) ul li a svg:only-of-type{
  grid-row: 7;
  grid-column: 1;

  width: 2.5em;
  justify-self: start;
  stroke: var(--color-background);
  fill: var(--color-background);
}

main section:nth-child(7) ul li:nth-child(-n+2) a svg:only-of-type, main section:nth-child(7) ul li:nth-last-child(-n+2) a svg:only-of-type {
  grid-row: 7;
  grid-column: 1;

  width: 2.5em;
  justify-self: start;
  stroke: var(--color-background);
  fill: var(--color-background);
}

main section:nth-child(7) ul li a svg:only-of-type path{
  stroke: var(--color-text);
  stroke-width: 0.2px;
}

main section:nth-child(7) ul li a p:nth-of-type(1){
  grid-row: 5;
}

main section:nth-child(7) ul li a:not(:has(p:nth-of-type(4))) p:nth-of-type(1){
  grid-row: 6;
}

main section:nth-child(7) ul li p:last-of-type{
  grid-row: 7;
  grid-column: 2 / 4;
  white-space: nowrap;
}

main section:nth-child(7) ul li a:not(:has(p:nth-of-type(4))) p:last-of-type {
  grid-row: 7;
  grid-column: 2 / 3;
  white-space: nowrap;
}

main section:nth-child(8){
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 3em;
  background-color: var(--color-background-3);
}

main section:nth-child(8) h2 {
  order: 2;
  grid-column: span 4;
}

main section:nth-child(8) h3 {
    order: 3;
    grid-column: span 4;
}

main section:nth-child(8) p {
    order: 4;
    grid-column: span 4;
    padding: 1em 0em 0.5em 2.3em;
}

main section:nth-child(8) a {
    grid-row: 5;
    grid-column: span 2;
    display: flex;
    gap: 1em;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica;
    padding: 0.5em 0em 1em 2.2em;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: 700;
    color: var(--color-text);
}

main section:nth-child(8) a svg {
    fill: var(--color-background-3);
    stroke: var(--color-text);
}

main section:nth-child(8) button {
  background-color: var(--color-background-3);
  order: 1;
  grid-column: span 6;
  justify-self: start;
  padding: 3em 0em 2em 2.5em;
}

main section:nth-child(8) img {
  order: 6;
  grid-row: 6;
  grid-column: 1 / span 6;
  max-width: 100%;
  padding: 0em 0em 0em 2.2em;
}






/************************/
/*******Section 9********/
/************************/

main section:nth-child(9) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  overflow-x: hidden;
}

main section:nth-child(9) h2{
  order: 1;
  grid-row: 1;
  grid-column:span 3;
}

main section:nth-child(9) h3{
  order: 2;
  grid-column: span 3;
}

main section:nth-child(9) ul{
  order: 3;
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1em;
  padding: 0em 2em 0em 2em;
  margin: 2em 0em 10em 0em;
}

main section:nth-child(9) li{
  position: relative;
  flex: 0 0 50%;
}

main section:nth-child(9) ul li a{
  
  display: grid;
  align-items: center;
  justify-content: space-evenly;
}

main section:nth-child(9)  ul li a img:first-of-type{
  grid-column:  1 /span 3;
  grid-row: 1;
}

main section:nth-child(9) ul li a img:last-of-type{
  grid-row: 2;
  grid-column: 1 / span 1;
  max-width: 33px;
  padding-right: 1em;
  
}

main section:nth-child(9) ul li button:last-of-type{
  position: absolute;
  top: 1em;
  right: 0;
  z-index: 1;
  padding: 0.5em 0.7em 0.5em 0.7em;
  background-color: var(--color-background);
}

main section:nth-child(9) ul li button:first-of-type{
  color: var(--color-highlighted-buttons);
  font-weight: 600;
}

main section:nth-child(9) ul li button:first-of-type:hover {

  color: var(--color-brand-mark);
  text-underline-offset: 20%;
  text-decoration: underline;

}





/**************/
/* section 10 */
/**************/

section:nth-child(10) {
  position: fixed; 
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  overflow-y: scroll;
  transition: top 0.5s ease;
  z-index: 1000;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

section:nth-child(10).visible {
  top: 0;                
}

section:nth-child(10) h2,
section:nth-child(10) h3{
  padding: 0;
}

section:nth-child(10) h2{
  grid-row: 2;
  grid-column: 1 / -1;
  
  font-size: 18px;
  padding: 1.2em 1.5em;
  
}

section:nth-child(10) p{
  font-size: 14px;
  line-height: 1.5em
}

section:nth-child(10) p:nth-of-type(1){
  grid-row: 3;
  grid-column: 1 / -1;
  padding: 0em 2em;
}

section:nth-child(10) svg:nth-of-type(1){
  grid-column: 1;
  grid-row: 4;
  align-self: center;
  margin-left: 1.7em;
}

section:nth-child(10) button:first-of-type{
  grid-row: 1;
  grid-column: 1 / -1; 
  
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-border);
  padding: 1.5em;       
}

section:nth-child(10) h3:first-of-type{
  grid-row: 4;
  grid-column: 1 / -1;
  
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  padding: 1.5em 4em;
  
}

section:nth-child(10) ul:nth-of-type(1){
  grid-row: 6;
  grid-column: 1 / -1;

  display: grid;
  gap: 1em;
  padding: 0em 2em;
  font-size: 16px;
  font-family: sans-serif;
}


section:nth-child(10) ul:nth-of-type(1) li{
  padding-left: 1em;
}

section:nth-child(10) ul:nth-of-type(1) li::marker {  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::marker */
  content: '•'; 
  color: black;
  font-size: 16px;
  padding:1em;
}

section:nth-child(10) p:nth-of-type(2){
  grid-row: 5;
  grid-column: 1 / -1;

  padding: 0em 2em;
  font-size: 16px;
}

section:nth-child(10) p:nth-of-type(3){
  grid-row: 7;
  grid-column: 1 / -1;

  padding: 0em 2em;
  font-size: 16px;
}

section:nth-child(10) h3:nth-of-type(2){
  grid-row: 8;
  grid-column: 1 / -1;
  
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  padding: 1.5em 4em;
  
}

section:nth-child(10) svg:nth-of-type(2){
  grid-column: 1;
  grid-row: 8;
  align-self: center;
  margin-left: 1.7em;
}

section:nth-child(10) ul:nth-of-type(2){
  grid-row: 9;
  grid-column: 1 / -1;

  display: grid;
  gap: 1em;
  padding: 0em 2em 2em 2em;
  font-size: 16px;
  font-family: sans-serif;
}

section:nth-child(10) aside{
  grid-row: 12;
  grid-column: 1 / -1; 

  position: sticky;
  bottom: 0em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  padding: 2em 0em;
  border-top: 1px solid var(--color-border);
  row-gap: 1em;
}

section:nth-child(10) aside button:first-of-type{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: black;
  color: var(--color-background);
  font-size: 16px;
  font-weight: 700;
  order: 2;

  padding: 1em 8em;       
}

section:nth-child(10) aside a:first-of-type{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  order: 2;    
  padding: 1em 4.1em;
  border: 1px solid var(--color-text);
}






/**************/
/* section 11 */
/**************/

main section:nth-child(11){

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  position: fixed; 
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: var(--color-background);
  overflow-y: scroll;
  transition: left 0.5s ease;
  z-index: 1000;

}

main section:nth-child(11).visible {
  left: 0;                
}

main section:nth-child(11) nav{

  grid-row: 4;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  

  position: static;
  background-color: var(--color-background);
}


main section:nth-child(11) h2{

padding: 1em;
grid-row: 1;
grid-column: 1 / 5;

}

main section:nth-child(11) nav ul:nth-of-type(1){

  grid-row: 2;
  grid-column: 1 / -1;


  padding: 1em 2em;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  font-family: sans-serif;
}

main section:nth-child(11) nav p:nth-of-type(1){

  padding: 2em 0.2em;
  grid-row: 3;
  grid-column: 2;
}

main section:nth-child(11) nav svg:nth-of-type(1){

  grid-row: 3;
  grid-column: 1;
  margin: 1.7em 0.5em 2em 2em;
  fill: var(--color-background);
  width: 40px;
}

main section:nth-child(11) nav ul{
  padding: 0em 2em;
}

main section:nth-child(11) nav ul:nth-of-type(2){

  grid-row: 4;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 1fr 1fr 1fr 1fr ;
  overflow: auto;
  gap: 1em;
}

main section:nth-child(11) button:first-of-type{

  grid-row: 1;
  grid-column: 5;

  justify-self:  end;
  align-self: start;
  padding:2em;

}

main section:nth-child(11) nav ul li[aria-current="page"]{

  text-decoration: underline;
  text-underline-offset: 1.2em;
  justify-self: center;

}

main section:nth-child(11) a:nth-of-type(1):not(nav a) {

  grid-row: 6;
  grid-column: 1 / -1;

  display: flex;
  padding: 2em;
  font-size: 0.8em;
  font-family: sans-serif;
  border-top: 25px solid var(--color-background-2);
  border-bottom: 1px solid var(--color-background-2);
  justify-content: space-between;
}

main section:nth-child(11) a:nth-of-type(2):not(nav a) {

  grid-row: 7;
  grid-column: 1 / -1;

  display: flex;
  padding: 2em;
  font-size: 0.8em;
  font-family: sans-serif;
  border-top: 1px solid var(--color-background-2);
  border-bottom: 25px solid var(--color-background-2);
  justify-content: space-between;

}

main section:nth-child(11) button:nth-of-type(2){

  grid-row: 8;
  grid-column: 1 / -1;

  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  font-family: sans-serif;
  font-weight: 700;
  border-top: 25px solid var(--color-background-2);
  border-bottom: 1px solid var(--color-background-2);
  align-content: center;
  justify-content: space-between;


}

main section:nth-child(11) button:nth-of-type(3){
  
  grid-row: 9;
  grid-column: 1 / -1;

  display: flex;
  padding: 2em;
  font-family: sans-serif;
  border-top: 1px solid var(--color-background-2);
  border-bottom: 25px solid var(--color-background-2);
  justify-content: space-between;


}

main section:nth-child(11) button:nth-of-type(4){
  
  grid-row: 10;
  grid-column: 1 / -1;

  display: flex;
  padding: 2em;
  font-family: sans-serif;
  border-top: 1px solid var(--color-background-2);
  justify-content: space-between;


}


/*************/
/* afsluiter */
/*************/

body main p:nth-last-child(1){
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding: 1em 0em 1em 1em;
}

/*****************/
/* Media Queries */
/*****************/

/**********/
/* 765px */
@media (min-width: 765px) {

main{

  display: grid;
  grid-template-columns: 1fr 1fr;
  
  padding: 0em;
  justify-content: space-around;

}
    
body main section:nth-child(1){ 
 
  grid-column: 1 / -1;
  grid-row: 2 ;

  padding: 3em 0em 0em 0em;
}


main section:nth-child(4) ul + button{

  display: block;

}


main h1,
main h2,
main h3{ 
 
  font-size: 30px;
  padding: 0em;
  
}

main h3{
  line-height: 1.1em;
}

main section:nth-child(3) a{

  padding: 0.5em 0em;

}

main section:nth-child(1) h1{
  padding: 0em 1.5em;
}

main section:nth-child(1) h2{
  padding: 0em 1.9em 1em 1.9em;
}

main section:nth-child(3) p{

  padding: 1em 0em 0em 0em;

}

main section:nth-child(3) a{

  padding: 1em 0em;
}

main section:nth-child(1) ul{

  padding: 0em 3em;
}

main section:nth-child(1) ul li{

  flex: 0 0 25%;
}

main nav{

  grid-row: 1;
  grid-column: 1 / -1;
  
}

main nav ul{

  padding: 0em 3em;

}

main section:nth-child(3){

  grid-row: 3;
  grid-column: 1 / -1;
  padding: 2em 3em;

}

main section:nth-child(3) ul{

  padding: 0em;

}

main section:nth-child(3) ul li{

  flex: 0 0 90%;

}

main section:nth-child(3) button{

  margin: 0em;
  justify-self: auto;

}



/*************/
/* Section 4 */
/*************/

main section:nth-child(4){

  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  grid-row: 4;
  grid-column: 1 / -1;
  gap: 1em;
  padding-right: 3em;
}

main section:nth-child(4) img{

  grid-row: 1 / -1;
  grid-column: 1 / 3;

  width: 85%;
}

main section:nth-child(4) h2{

  grid-row: 2;
  grid-column: 3/ -1;
  

}

main section:nth-child(4) h3{
  grid-row: 3;
  grid-column: 3/ -1;
}

main section:nth-child(4) p{
  grid-row: 4;
  grid-column: 3 / -1;
  padding: 0;
}

main section:nth-child(4) button{ 

  grid-row: 1;
  grid-column: 3 / -1;
  padding: 0;

}






/*************/
/* Section 5 */
/*************/

main section:nth-child(5){

  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  grid-row: 5 ;
  grid-column: 1 / -1;
  gap: 0.5em;
  padding: 4em 0em 0em 3em;
  align-items: start;
  justify-items: start;
}

main section:nth-child(5) video{

  grid-row: 1 / -1;
  grid-column: 2 / -1;
  width: 85%;
  height: 100%;
  justify-self: end;
}

main section:nth-child(5) h2{

  grid-row: 2;
  grid-column: 1/ 2;
  
  padding: 0;
  

}

main section:nth-child(5) h3{
  grid-row: 3;
  grid-column: 1/ 2;
  padding: 0;
  
}

main section:nth-child(5) p{
  grid-row: 4;
  grid-column: 1 / 2;

  padding: 2em 0em;
}

main section:nth-child(5) button{ 

  grid-row: 1;
  grid-column: 1 / 2;
  padding: 0;

  margin: 0;
}

main section:nth-child(5) a{

  grid-row: 5;
  grid-column: 1 / 2 ;
  
  padding: 0;
}

/****************/
/* Section 6 / 8*/
/****************/

main section:nth-child(6){

  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  
  grid-row: 6;
  gap: 1em;
  grid-column: 1 / -1;
  padding: 2em 0em 0em 2em;
  

}

main section:nth-child(6) h2,
main section:nth-child(8) h2{

  grid-row: 2;
  grid-column: 1 / 2;
}

main section:nth-child(6) h3,
main section:nth-child(8) h3{

  grid-row: 3;
  grid-column: 1 / 2;
}

main section:nth-child(6) img,
main section:nth-child(8) img{

  grid-row: 1 / -1;
  grid-column: 2/ -1;

  justify-self: end;
  width: 85%;
}

main section:nth-child(6) button,
main section:nth-child(8) button{

  grid-row: 1;
  grid-column: 1 / 2;

  padding: 1em 0em;
}

main section:nth-child(6) a,
main section:nth-child(8) a{

  grid-row: 5;
  grid-column: 1 / 2;
  padding: 0em;

}

main section:nth-child(6) p,
main section:nth-child(8) p{

  grid-row: 4;
  grid-column: 1 / 2;
  padding: 0;
}


/*************/
/* Section 7 */
/*************/

main section:nth-child(7){

  grid-row: 7;
  grid-column: 1 / -1;
}

main section:nth-child(7) ul li {
  flex: 0 0 25%;
}





/*************/
/* Section 8 */
/*************/

main section:nth-child(8){

  grid-row: 8;
  grid-column: 1 / -1;
  padding: 2em 0em 0em 2em;
  
  gap: 0.5em;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;

}


/*************/
/* Section 9 */
/*************/

main section:nth-child(9){

  grid-row: 9;
  grid-column: 1 / -1;

}

main section:nth-child(9) ul li{

  flex: 0 0 23%;

}

main section:nth-child(9) h2,
main section:nth-child(9) h3{

  padding: 0em 1em;
}


body main p:nth-last-child(1){

  grid-row: 10;
  grid-column: 1 / -1;

}
}


/**********/
/* 1400px */
@media (min-width: 1200px) {

  main nav{

    padding: 0em 3.1em 0em 6.4em;
  }

  main nav ul{

    padding: 0em 7.6em;
  }

  header nav:nth-child(3){

    padding: 0em 9.5em;
  }

  main section:nth-child(1) ul{
    padding: 0em 15em;
  }

  main section:nth-child(1) h1{
    padding: 0em 7.8em;
  }

  main section:nth-child(1) h2{
    padding: 0em 0em 1em 9.8em;
  }

  main section:nth-child(1) button:first-of-type{

    padding: 0em 0em 0em 42%;
  }

  main section:nth-child(3){
    padding: 4em 15em;
  }

  main section:nth-child(4) img{

    grid-column: 2 / 4;
  }
  
  main section:nth-child(4){

    padding: 4em 8em 0em 0em;
    grid-template-columns: 0.85fr 1fr 1fr 1fr 1fr;
    margin-bottom: 6em;

  }

  main section:nth-child(4) h3,
  main section:nth-child(4) h2  {
    grid-column: 4 / -1;
  }

  main section:nth-child(4) p{
    grid-column: 4 / -1;
    max-width: 80%;
  }

  main section:nth-child(4) button{ 

  grid-row: 1;
  grid-column: 4 / -1;
  padding: 0;

}


  /* section 5 / 6 */
  main section:nth-child(5),
  main section:nth-child(6){
  
    grid-template-columns: 0.6fr 1fr 1fr 1fr 0.7fr;

  }

  main section:nth-child(5) video{

    grid-column: 3 / 5 ;

  }

  main section:nth-child(6) img{

    grid-column: 3 / 5 ;
    max-width: 92%;
    padding: 0;

  }


  main section:nth-child(5) h2,
  main section:nth-child(5) h3,
  main section:nth-child(5) button,
  main section:nth-child(5) p,
  main section:nth-child(5) a, 
  main section:nth-child(6) h2,
  main section:nth-child(6) h3,
  main section:nth-child(6) button,
  main section:nth-child(6) p,
  main section:nth-child(6) a{
    grid-column: 2 / 3;
  }






  /*************/
  /* section 7 */
  
  main section:nth-child(7) ul{

    padding: 4em 19.5em 4em 14em;

  }

  main section:nth-child(7) ul li{

    flex: 0 0 30%;
  }






  /*************/
  /* section 8 */

  main section:nth-child(8){

    grid-template-columns: 0.6fr 1fr 1fr 1fr 0.7fr;

  }

  main section:nth-child(8) img{

    grid-row: 2 / -1;
    grid-column: 3 / -1;
    width: 85%;
    align-self: end;
    justify-self: start;

  
  }

  main section:nth-child(8) h2,
  main section:nth-child(8) h3,
  main section:nth-child(8) button,
  main section:nth-child(8) p,
  main section:nth-child(8) a{
    grid-column: 2 / 3;
  }

  main section:nth-child(8) a{
    padding: 1em 0em;
  }
  /*************/
  /* Section 9 */

  main section:nth-child(9) ul{

    padding: 0em 16%;
  }

  main section:nth-child(9) h2, main section:nth-child(9) h3{
    padding: 0em 16%;

  }

  main section:nth-child(9) ul li{

    flex: 0 0 25%;
  }

  body main p:nth-last-child(1){

    padding: 2em 0em 2em 16%;
  }
}

