/**********************/
/******Section 1******/
/*********************/

main section:nth-child(1){
    display: grid;
    gap:0.5em;
    grid-template-columns: 1fr 1fr 1fr;
}

main section:nth-child(1) ul{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

main section:nth-child(1) ul li{
    scroll-snap-align: center;
}

main section:nth-child(1) ul li img{
    max-width  : 100dvw;
}

main section:nth-child(1) p:nth-of-type(1){
    grid-row: 2;
    grid-column: 1;

    padding: 2em;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

main section:nth-child(1) h1{
    grid-row: 4;
    grid-column: 1 / span 3;


}

main section:nth-child(1) a:first-of-type{
    grid-row: 3;
    grid-column: 1 / span 3;
 

    padding: 1em 0em 0em 1.5em;
    font-size: 1.5em;
}

main section:nth-child(1) p:nth-of-type(2){
    grid-row:5 ;
    grid-column: 1 / span 3;

    font-family: sans-serif;
    font-size: 1.5em;
    padding-left: 1.5em;
}

main section:nth-child(1) p:nth-of-type(3){
    grid-row: 5;
    grid-column: 2;

    padding: 0em 0em 0em -0.8em;
    color: var(--color-border);
    justify-self: start;
    align-self: end;
}

main section:nth-child(1) p:nth-of-type(4){
    grid-row: 6;
    grid-column: 1 / span 3;

    padding: 3em 0em 3em 2.3em;
}



/**************************/
/* groep formaat aanraden */
/**************************/

main section:nth-child(1) article{
    grid-row: 7;
    grid-column: 1 / span 3;

    display: flex;
    justify-items: space-evenly;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.8em 1em 0.8em 1em;
    margin: 0em 2em 0em 2em;
    background-color: var(--color-background-2);
    column-gap: 1em 1em;
}

main section:nth-child(1) article svg:nth-of-type(1){
    fill: var(--color-background-2);
    stroke: var(--color-text);
    stroke-width:1.2;
    height: 40px;
    width: 40px;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin: 0em;
    order: 1;
}

main section:nth-child(1) article p:nth-of-type(1){
   margin: 0em;
   order: 2;
   font-weight: 400;
}

main section:nth-child(1) article button{
    background-color: var(--color-background-2);
    order: 3;
    font-weight: 700;
    text-decoration: underline;
}

main section:nth-child(1) button:first-of-type:has(svg){
    grid-row: 8;
    grid-column: 1 /span 3;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px;
    font-weight: 700;
    font-size: large;
    padding: 0.8em 1em 0.8em 1em;
    margin: 0em 1.8em 0em 1.8em;
}

main section:nth-child(1) button:first-of-type:has(svg) svg{
    fill: var(--color-text);
    stroke: var(--color-text);
    align-self: center;
}

main section:nth-child(1) button:nth-of-type(2){
    grid-row: 9;
    grid-column: 1 / span 3;

    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 1em;
    margin: 0em 1.8em 0em 1.8em;
    background-color:var(--color-text);
    color: var(--color-background);
}




/***************/
/***Section 2***/
/***************/
main section:nth-child(2){
    display: grid;
    border: solid 1px;
    padding: 1.5em;
    margin: 1.5em;
    overflow: visible;
}

main section:nth-child(2) p{
    margin: 0;
}

main section:nth-child(2) p:first-of-type{
    grid-row: 1;
    font-family: sans-serif;
    padding-bottom: 1em;
}

main section:nth-child(2) article{
    grid-row: 2;
    
    display: grid;
    background: var(--color-text);
    padding: 1em;
    margin: 0 -3.04em; 
    
}

main section:nth-child(2) article p, main section:nth-child(2)  article a{
    color: var(--color-background);
    order: 2;
    padding: 0.5em;
    
}


main section:nth-child(2) article a{
    font-family: 'Tiempos', 'Times New Roman', ' Times', 'serif';
    font-weight: 500;
    font-size: 0.8em;
    text-decoration: underline;
}

main section:nth-child(2) article svg{
    grid-row: 1;
    
    width: 2em;
    fill: var(--color-background);
    
}

main section:nth-child(2) article p:nth-of-type(1){
    grid-row: 2;
    padding: 0.6em 0em 1em 0em;
}

main section:nth-child(2) article p:nth-of-type(2){
    grid-row: 3;
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}

main section:nth-child(2) article svg path{
    fill: var(--color-text);
}

main section:nth-child(2) > svg{
    background-color: red;
}




/*****************/
/****Section 3****/
/*****************/

main section:nth-child(3) {
  display: grid;

  grid-template-columns: 1fr 1fr;
  margin: 0;
}

main section:nth-child(3) h2{
    padding: 0em;
}

main section:nth-child(3) ul{
    display: none;

}

main section:nth-child(3) button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em 1em 2em;
    border-top: solid 1px var(--color-border);
    grid-column: span 2;
}

main section:nth-child(3) button h2{
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    margin: 0;
}

main section button svg{
    stroke: var(--color-text);
    fill: var(--color-background);
}

main section:nth-child(3) h3{
   grid-row: 4;
   grid-column: 1 / 3;

   font-family: sans-serif;
   align-self: center;
   text-transform: uppercase;
   font-size: 1em;
   font-weight: 900;
   margin: 0em;
   padding: 1em 2em 1em 1.7em;
   border-top: solid 1px var(--color-border);
   border-bottom: solid 1px var(--color-border);
}

main section:nth-child(3) button:last-of-type{
    grid-row: 4;
    grid-column: 2;

    justify-self: center;
    align-self: center;
    gap:1em;
    padding: 0.5em 1em 0.5em 0.5em;
    border: solid 0.5px var(--color-text);
    z-index: 2;
}

main section:nth-child(3) a{
    grid-row: 5;
    grid-column: span 2;

    display: flex;
    align-items: center;
    font-family: sans-serif;
    gap: 0.5em;
    color: var(--color-highlighted-buttons);
    padding: 2em 2em 6em 2em;
}

main section:nth-child(3) a svg{
    width: 12px;
    stroke: var(--color-highlighted-buttons);
    
}






/**************************/
/****Section 4, 5, 6, 7****/
/**************************/

main section:nth-child(5), main section:nth-child(4), main section:nth-child(6), main section:nth-child(7){
    display: grid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

main section:nth-child(5) h2, main section:nth-child(4) h2, main section:nth-child(6) h2, main section:nth-child(7) h2{
    
    grid-row: 1;
    grid-column: 1 / span 2;
}

main section:nth-child(5) h3, main section:nth-child(4) h3, main section:nth-child(6) h3, main section:nth-child(7) h3{
    grid-row: 2;
    grid-column: 1 / span 2;
    white-space: wrap ;
    padding-right: 2em;
}

main section:nth-child(5) a svg, main section:nth-child(4) a svg, main section:nth-child(6) a svg, main section:nth-child(7) a svg{
    fill: none;
    stroke: var(--color-highlighted-buttons);
    width: 15px;
}

main section:nth-child(5) > a:first-of-type, main section:nth-child(4) > a:first-of-type, main section:nth-child(6) > a:first-of-type, main section:nth-child(7) > a:first-of-type{
    grid-row: 3;
    grid-column: 1 / span 2;

    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--color-highlighted-buttons);
    font-family: sans-serif;
    font-weight: 700;
    padding: 1em 1em 1em 2.2em; 
}

main section:nth-child(5) ul, main section:nth-child(4) ul, main section:nth-child(6) ul, main section:nth-child(7) ul{
    grid-column: span 2;

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap:1em;
    padding: 0em 0em 4em 2em;

}

main section:nth-child(5) ul li, main section:nth-child(4) ul li, main section:nth-child(6) ul li, main section:nth-child(7) ul li{
    flex: 0 0 50%;
    
}

main section:nth-child(5) ul li a, main section:nth-child(4) ul li a, main section:nth-child(6) ul li a, main section:nth-child(7) ul li a{
    display:grid;
    grid-template-columns: 1fr 1fr;


    align-items: center;
    gap: 0.2em;
}

main section:nth-child(5) ul li a img, main section:nth-child(4) ul li a img, main section:nth-child(6) ul li a img, main section:nth-child(7) ul li a img{
  grid-row: 1;
  grid-column: span 2;
  width: 100%;
}

main section:nth-child(5) ul li a h3, main section:nth-child(4) ul li a h3, main section:nth-child(6) ul li a h3, main section:nth-child(7) ul li a h3{
    grid-row: 2;
    padding: 0em;
    font-weight: 500;
    font-size: 1em;
}

main section:nth-child(5) ul li a h2, main section:nth-child(4) ul li a h2, main section:nth-child(6) ul li a h2, main section:nth-child(7) ul li a h2{
    grid-row: 3;
    padding: 0em;

    font-family: sans-serif;
    font-weight: 500;
    font-size: 1em;
    white-space: normal;
}

main section:nth-child(5) ul li a p:nth-of-type(1), main section:nth-child(4) ul li a p:nth-of-type(1), main section:nth-child(6) ul li a p:nth-of-type(1), main section:nth-child(7) ul li a p:nth-of-type(1){
    grid-row: 4;
    grid-column: span 2;
    padding-top: 1em;
    
}

main section:nth-child(5) ul li a p:nth-of-type(2):not(:last-of-type), main section:nth-child(4) ul li a p:nth-of-type(2):not(:last-of-type), main section:nth-child(6) ul li a p:nth-of-type(2):not(:last-of-type), main section:nth-child(7) ul li a p:nth-of-type(2):not(:last-of-type){
    grid-row: 5;
    grid-column: 1 / 3;
}

main section:nth-child(5) ul li svg, main section:nth-child(4) ul li svg, main section:nth-child(6) ul li svg, main section:nth-child(7) ul li svg{
   grid-row: 6;
   width: 2.5em;
   justify-self: center;
   fill: var(--color-background);
   stroke: var(--color-text);
}

main section:nth-child(5) ul li svg path, main section:nth-child(4) ul li svg path, main section:nth-child(6) ul li svg path, main section:nth-child(7) ul li svg path{
    fill: var(--color-text);
    stroke-width: 0px;
}

main section:nth-child(5) ul li a svg:last-of-type, main section:nth-child(5) ul li a p:last-of-type, main section:nth-child(4) ul li a svg:last-of-type, main section:nth-child(4) ul li a p:last-of-type, main section:nth-child(6) ul li a svg:last-of-type, main section:nth-child(6) ul li a p:last-of-type, main section:nth-child(7) ul li a svg:last-of-type, main section:nth-child(7) ul li a p:last-of-type{
    grid-row: 6;
}

main section:nth-child(5) ul button, main section:nth-child(4) ul button, main section:nth-child(6) ul button, main section:nth-child(7) ul button{
    position: absolute;
    top: 1em;
    right: 0em;
    padding: 0.5em 0.2em;
}

main section:nth-child(5) h3 + button, main section:nth-child(4) h3 + button, main section:nth-child(6) h3 + button, main section:nth-child(7) h3 + button{
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    padding: 0em 3em 0em 0em;

}

main section:nth-child(5) button:nth-of-type(1) svg, main section:nth-child(4) button:nth-of-type(1) svg, main section:nth-child(6) button:nth-of-type(1) svg, main section:nth-child(7) button:nth-of-type(1) svg{
    fill: var(--color-border);
    stroke: solid 0.5px var(--color-background);

}

main section:nth-child(5) a svg, main section:nth-child(4) a svg, main section:nth-child(6) a svg, main section:nth-child(7) a svg{
    fill: none;
    stroke: var(--color-highlighted-buttons);
    width: 15px;
}


main section:nth-child(5) ul li a p:nth-of-type(3), main section:nth-child(4) ul li a p:nth-of-type(3), main section:nth-child(6) ul li a p:nth-of-type(3), main section:nth-child(7) ul li a p:nth-of-type(3){
   grid-row: 5;
   grid-column: 2;
   justify-self: end;
   color: var(--color-deal-label);
}

main section:nth-child(5) ul li a p:last-of-type, main section:nth-child(4) ul li a p:last-of-type, main section:nth-child(6) ul li a p:last-of-type, main section:nth-child(7) ul li a p:last-of-type{
   grid-row: 6;
}

main section:nth-child(5) ul li:last-of-type button + p, main section:nth-child(4) ul li:last-of-type button + p, main section:nth-child(6) ul li:last-of-type button + p, main section:nth-child(7) ul li:last-of-type button + p{
    background-color: var(--color-background);
    color: var(--color-text);
}
